/* ========================================
   FinGate Common Components
   ======================================== */

@use 'variables' as *;
@use 'mixins' as *;

// ========================================
// 공통 버튼 스타일
// ========================================

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 24rem;
  height: 7.2rem ;
  background: transparent;
  border: 0.2rem solid $color-bg-white;
  border-radius: 3.6rem;
  color: $color-text-white;
  font-size: 2rem;
  font-weight: $font-weight-semibold;
  line-height: 2.4rem;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease;
  &:hover {
    border: 0.2rem solid $color-bg-primary;
    background-color: $color-bg-primary;
  }
}