/* ========================================
   FinGate Service2 Page Styles
   ======================================== */

@use 'variables' as *;
@use 'mixins' as *;

// Service2 페이지
.service2-service {
  position: relative;
  background: url('/images/services/service2-bg.png') center top/ cover no-repeat;
}

// 히어로 섹션
.service2-hero {
  position: relative;
  height: 73vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url('/images/services/service2-hero.png') center top/ cover no-repeat;
  
  .container {
    margin-top: -6rem;
    width: 100%;
  }
}

// Recommend 섹션
.service2-recommend {
  position: relative;
  background-color: #F4F4F6 ;
  
  .container {
    width: 100%;
    padding: 16rem 0;
    text-align: center;
  }
  
  .speech-bubbles {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.4rem;
  }
  
  .bubble-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 2.4rem;
    width: max-content;
    background: $color-bg-white;
    border-radius: 6.4rem;
    padding: 2.4rem 8rem;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05), 0 4px 10px rgba(0, 0, 0, 0.05);
    
    .bubble-text {
      font-size: 1.8rem;
      font-weight: $font-weight-normal;
      line-height: 3.6rem;
      text-align: left;
    }
    
    .bubble-icon {
      flex-shrink: 0;
      img {
        border-radius: 50%;
      }
    }
  }
}

// Onestop 섹션
.service2-onestop {
  position: relative;
  
  .container {
    width: 100%;
    padding-top: 16rem;
    text-align: center;
  }
  
  
  .dashboard-cards {
    position: relative;
    width: 100%;
    height: 75rem;
    margin-top: 11rem;
    overflow: hidden;
  
  // 하단 dim 처리
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 20rem;
    background: linear-gradient(to bottom, 
      transparent 0%, 
      rgba(19, 25, 36, 0) 40%, 
      rgba(19, 25, 36, 1) 84%
    );
    pointer-events: none;
    z-index: 1;
  }
  
  .card {
    position: absolute;
    top: 1rem;
    left: 50%;
    
    opacity: 0;
    
    img {
      display: block;
    }
  }
  
  .card-1 {
    transform: translate(-92.8rem, 14.8rem);
  }
  
  .card-2 {
    transform: translate(-92.8rem, 22.8rem);
  }
  
  .card-3 {
    transform: translate(-92.8rem, 51.5rem);
  }
  
  .card-4 {
    transform: translate(-92.8rem, 64.4rem);
  }
  
  .card-5 {
    transform: translate(-56.1rem, 8rem);
  }
  
  .card-6 {
    transform: translate(-50%,0);
  }
  
  .card-7 {
    transform: translate(-50%, 8rem);
  }
  
  .card-8 {
    transform: translate(36.8rem, 11.2rem);
  }
  
  .card-9 {
    transform: translate(36.8rem, 32.7rem);
  }
  
  .card-10 {
    transform: translate(66rem, 32.7rem);
  }
  
  .card-11 {
    transform: translate(36.8rem, 52.5rem);
  }
  }
}

// Manage 섹션
.service2-manage {
  position: relative;
  
  .container {
    width: 100%;
    padding-top: 28rem;
    text-align: center;
  }
  
  .manage-content {
    display: flex;
    gap: 2.4rem;
    padding-top: 12rem;
    justify-content: center;
    align-items: flex-start;
  }
  
  .manage-area {
    text-align: left;
    .area-details-image {
      position: relative;
      .area-details-image-overlay {
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        & > img {
          position: absolute;
          box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
          z-index: 2;
        }
        .overlay-image1 {
          top: 14.9rem;
          left: 8rem;
        }
        .overlay-image2 {
          top: 14.5rem;
          left: 33.9rem;
        }
        .overlay-image3 {
          top: 20.7rem;
          left: 22.1rem;
        }
      }
    }
  }
  .area-title {
    font-size: 3.2rem;
    font-weight: $font-weight-semibold;
    color: $color-text-white;
    line-height: 4.0rem;
  }
  .area-desc {
    font-size: 1.8rem;
    font-weight: $font-weight-normal;
    color: $color-text-white;
    line-height: 2.8rem;
  }
}

// Diagnosis 섹션
.service2-diagnosis {
  position: relative;
  
  .container {
    width: 100%;
    padding: 29.2rem 0 0;
    text-align: left;
  }
  
  .diagnosis-content {
    margin-top: 6rem;
    padding-bottom: 16rem;
    width: 100%;
    display: flex;
    gap: 14.3rem;
    align-items: center;
    justify-content: space-between;
  }
  
  .diagnosis-buttons {
    flex: 0 0 40rem;
    display: flex;
    flex-direction: column;
    text-align: left;
    min-width: 66.8rem;
    .diagnosis-button {
      display: flex;
      flex-direction: column;
      justify-content: center;
      cursor: pointer;
      transition: all 0.3s linear;
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
      height: 16.8rem;
      
      &:last-child {
        border-bottom: none;
      }
      
      .button-title {
        font-size: 4rem;
        font-weight: $font-weight-semibold;
        color: $color-text-white;
        opacity: 0.2;
        transition: all 0.5s linear;
      }
      
      .button-subtitle {
        margin-top: 2.4rem;
        font-size: 1.8rem;
        color: $color-text-white;
        font-weight: $font-weight-light;
        line-height: 2.8rem;
        opacity: 0;
        transition: all 0.5s linear;
      }
      
      &.active {
        height: 22rem;
        
        .button-title {
          opacity: 1;
        }
        
        .button-subtitle {
          opacity: 1;
        }
      }
    }
  }
  
  .diagnosis-card {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
}

// Report 섹션
.service2-report {
  position: relative;
  
  .container {
    width: 100%;
    padding-top: 16rem;
    text-align: center;
  }
  
  .report-buttons {
    display: flex;
    justify-content: center;
    gap: 1.6rem;
  }
  .report-content-wrapper {
    position: relative;
    margin: 0 auto;
    width: 172rem;
    .report-content-section {
      display: flex;
      justify-content: space-between;
      border-radius: 2rem;
      background-color: #F4F4F6 !important;
    }
    
    .report-content-info {
      flex: 1;
      padding: 15.6rem 0 14.8rem 15.9rem;
      
      .report-content-title {
        font-size: 4rem;
        font-weight: $font-weight-semibold;
        line-height: 4rem;
      }
      
      .report-feature-cards {
        display: flex;
        flex-direction: column;
        gap: 4.8rem;
        
        .report-feature-card {
          display: flex;
          align-items: center;
          gap: 4.8rem;
          
           .report-feature-icon {
             flex-shrink: 0;
             display: flex;
             align-items: center;
             justify-content: center;
             width: 12rem;
              height: 12rem;
              border-radius: 2rem;
              background-color: $color-bg-white;
              box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
             
           }
          
          .report-feature-content {
            flex: 1;
            
            h4 {
              font-size: 2rem;
              font-weight: $font-weight-semibold;
              line-height: 3.2rem;
            }
            
            p {
              font-size: 1.8rem;
              line-height: 2.8rem;
            }
          }
        }
      }
    }

    .report-dashboard-image {
      position: absolute;
      bottom: 0;
      right: 0;
      z-index: 1;
    }
  }
}

// Contact Banner 섹션
.service2-contact-banner {
  position: relative;
  .contact-container {
    padding: 16rem 9.9rem 0;
    margin-bottom: 14.2rem;
    .contact-image {
      position: relative;
      margin: 0 auto;
      max-width: 172.2rem;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .contact-visual {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
      width: 100%;
      height: 100%;
      padding: 0 16rem;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      column-gap: 20rem;
      .contact-title {
        font-size: 4rem;
        font-weight: $font-weight-semibold;
        color: $color-text-white;
        line-height: 5.6rem;
      }
    }
  }
}
